@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaBookBold.ttf);
}

body {
    padding: 0 20px;
    background-color: #F2E5D2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Delo;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.header{
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
    background-color: #C37869;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
}
@media (max-width: 393px) {
    .header{
        width: 330px;
        height: 130px;
        
    }
}


.main{
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.main_block{
    margin-top: 45px;
    background-color: #C37869;
    height: 900px;
    width: 1400px;
    border-radius: 80px;
    display: block;
    font-size: 128px;
    font-weight: bold;
    padding-top: 100px;
    
}

@media (max-width: 393px) {
    .main_block {
        height: 380px;
        width: 330px;
    }
  }
.main_btn{
    font-family: Futura;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    height: 400px;
    width: 400px;
    background-color: #ECDAC0;
    user-select: none;
    border-radius: 1000px;
    border: 10px solid #C6AA83;

}
.main_btn:hover {
    /* Кнопка видоизменяется при наведении курсора */
    opacity: 0.9;
}

.main_btn:active {
    /* Меняет цвет при нажатии */
    transition: transform 0.2s;
    background-color: #C6AA83;
    box-shadow: 5px 5px 73px 12px rgba(150, 87, 74, 100);
    transform: scale(0.9);
}
@media (max-width: 393px) {
    .main_btn {

        height: 150px;
        width: 150px;
        font-size: 64px;
        border: 5px solid #C6AA83;
        padding-top: 30px;
    }
}
.bcn{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-family: Futura;
}
@media (max-width: 393px) {
    .bcn {
        font-size: 48px;
        margin-top: 10px;
    }
}
.text{
    font-family: Futura;
    font-size: 32px;
    max-width: 900px;
    text-align: center;
    padding-top: 50px;
    margin: 0% auto;
}
@media (max-width: 393px) {
    .text {
        font-size: 16px;
        padding-top: 10px;
        max-width: 220px;
    }
}
